RewriteEngine On

# Let real files/folders load normally
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# Send all pretty URLs to the root front controller
RewriteRule ^ index.php [L,QSA]